@{
    ViewData["Title"] = "Morpion";
}

<div class="Score" id="TeamBlue">
</div>

<div class="Score" id="TeamRed">
</div>

<form id="Form1" method="post" action="api/updates/complex" enctype="application/x-www-form-urlencoded">

    <div class="Block" id="Case1" onclick="Selected(1);">
    </div>
    <div class="Block" id="Block" onclick="Selected(2);">
    </div>
    <div class="Block" id="Case3" onclick="Selected(3);">
    </div>
    <div class="Block" id="Case4" onclick="Selected(4);">
    </div>
    <div class="Block" id="Case5" onclick="Selected(5);">
    </div>
    <div class="Block" id="Case6" onclick="Selected(6);">
    </div>
</form>

<script>
    function Selected(num) {
        var Case = document.getElementById(id);
    }

</script>