@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> How to play ?</h2>
    <div class="rule">
        <p>The morpion game is playable and only playable by two people.</p>
        <p>First u need to go on the page game accessible by clicking on "Game" on the navbar.</p>
        <p>Second ..... GO PLAY !!!</p>
        <p>btw u start at team blue and ur enemy is team red</p>
        <p>U need to do a line with 0 or X and u win</p>
    </div>
</div>
