/* .wrapp {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: aqua;
} */

.Block {
    width: 1fr;
    height: 1fr;
}